.App {
  text-align: center;
}

.buttonBox{

  border: 1px black solid;
  border-radius: 5px;
  height: 80px;
  width: 50px;
 
}



.display{
  background-color: rgb(71, 118, 158);
  border: 1px solid black;
  border-radius:  10px;
}